:host{
  height: 30%;
  width: 100%;
}

.body{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.body > div{
  cursor: pointer;
}

.title{
  position: absolute;
  left: 40%;
  font-size: 1.5em;
}

.signup{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
}

.signup > div{
  margin: 10px
}

