.allItems{
  display: flex;
  height: 100%;
  flex-direction: row;
}

.item{
  width: 120px;
  margin: 20px;
  cursor: pointer;
}


.searchBar input[type=text] {
  border: 1px solid black;
  margin-top: 8px;
  font-size: 1.5em;
}

mat-card img{
  width: 150px;
  height: 150px;
}
