<div class="allItems">
  {{status}}
  <div class="list" *ngFor='let item of allListings; let i=index'>
    <mat-card *ngIf="i != 0" [routerLink]="['/item/'+ item.seller + '/' + item.itemKey]" class='item'>
      <mat-card-header>
        <mat-card-title>{{item.itemName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src='{{item.imgUrl}}'>
      <mat-card-content>
        <p>{{item.description}}</p>
        <p>${{item.price}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
