.allItems{
  display: flex;
  height: 100%;
  flex-flow: row wrap;
}

.item{
  max-width: 150px;
  margin: 20px;
  cursor: pointer;
}

.list{
  height: 20%;
}

.searchBar input[type=text] {
  border: 1px solid black;
  margin-top: 8px;
  font-size: 1.5em;
}
