.allItems{
  display: flex;
  height: 100%;
  flex-flow: row wrap;
}

.item{
  width: 120px;
  margin: 20px;
  cursor: pointer;
}

.item:hover{
  opacity: 0.6;
}

.list{
  height: 20%;
}

.searchBar input[type=text] {
  border: 1px solid black;
  margin: 8px;
  font-size: 1.5em;
}

mat-card img{
  width: 150px;
  height: 200px;
}
