:host{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 9pt;
  background: red;
}

.nav{
  height: 7%;
  border-bottom: 1px solid black;
}

.main{
  height: 95%;
  display: flex;
}

.sidebar{
  width: 20%;
  border-right: 1px solid black;
  text-align: center;
}

