<div class="body">
  <div class="myListing">
    <div class='bar title'>
      <div>YOUR LISTINGS</div>
      <div class='addList' (click)='addListing()'>ADD LISTING</div>
    </div>
    <div class='noList' *ngIf='listings.length < 1'>
      <br> YOU HAVE NO LISTINGS
      <br> START BY CLICKING ADD LISTING!
    </div>
    <div class='items'>
      <div class="item" *ngFor='let i of listings' [routerLink]="['/item/'+ i.key]">
        <div>
          <h3>{{i.itemName}}</h3>
          <img src='{{i.imgUrl}}'>
          <p>${{i.price}}</p>
        </div>
        <button *ngIf="i.buyer" class="acceptButton" (click)="ethSellerVote(i.hashMapping)">ACCEPT PURCHASE REQUEST</button>
      </div>
    </div>
  </div>
  <div class="myRequest">
    <div class="title">YOUR PURCHASE REQUEST</div>
    <div class="items">
      <div class="item" *ngFor='let i of purchaseList| slice:1'>
        <div>
          <h3>{{i.itemName}}</h3>
          <img src='{{i.imgUrl}}'>
          <p>${{i.price}}</p>
        </div>
        <button *ngIf="i.buyer && !i.isSold" class="acceptButton" (click)="ethBuyerVote(i.hashMapping, i.seller, i.itemKey)">RECEIVED THE ITEM IN WORKING CONDITION</button>
      </div>
    </div>
  </div>
</div>
