<div class="main">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h3>{{itemDetails.itemName}}</h3></mat-card-title>
      </mat-card-header>
      <img mat-card-image src='{{itemDetails.imgUrl}}'>
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
    <div class="descriptionBox">
      <div class='description'>
        <h4><u>DESCRIPTION</u></h4>
        <p>{{itemDetails.description}}</p>
        <p>${{itemDetails.price}}</p>
      </div>
      <button *ngIf="!isSeller" mat-raised-button (click)="onPurchaseReq()">
        Purchase
      </button>
    </div>
  </div>
